APP_NAME=Laravel
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=

LOG_CHANNEL=daily

DB_CONNECTION=pgsql
DB_HOST=db-pgsql
DB_PORT=5432
DB_DATABASE=sohoa
DB_USERNAME=postgres
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=redis
QUEUE_CONNECTION=redis

SESSION_DRIVER=redis
SESSION_LIFETIME=120

REDIS_CLIENT=predis
REDIS_HOST=redis
REDIS_PASSWORD=secret
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

EXPORT_VERSION=1.0.0

EXPORT_NAME='Phần mềm quản lý - Thuận Thành'

ONE_SIGNAL_AUTH_KEY=MmZjMGM5YzEtZjdlOS00OGY5LWIxMWYtZTNlODc5NDg5NmU5

ONE_SIGNAL_APP_ID_DRIVER=916bce13-ddf8-4d98-a9f1-73b144fc8ca7
ONE_SIGNAL_AUTHORIZE_DRIVER=OGE1ZWM2ZjAtZmUzYy00YzhkLWFlMjQtZDkxOGEwNzJkMWY5

ONE_SIGNAL_APP_ID_WORKER=bdc9996b-22e9-4925-9f4f-1407f777dec8
ONE_SIGNAL_AUTHORIZE_WORKER=ZWMyMjIxZGYtNjkzNy00MmRiLThhMTUtZmI3YjFjZWJiZDg1

ONE_SIGNAL_APP_ID_BUSINESS=67bfade1-99d3-429d-b3cb-e888581df33d
ONE_SIGNAL_AUTHORIZE_BUSINESS=Yzc5OWJhNmEtNGZjMC00MjI0LTllNzctYTBjMGU2ZjMwZmU3

ONE_SIGNAL_APP_ID_WEB=8f6db870-33b7-416b-a6bf-1c1bd4dd4e77
ONE_SIGNAL_AUTHORIZE_WEB=NWNhMjZkMmYtNWIzNi00OTZlLTkzZGYtMWZhYzk1YTkwODgx

ONESIGNAL_GUZZLE_CLIENT_TIMEOUT=3600000
CHECK_USER_DEVICE=true

APP_PATH_FILE=http://localhost:4200/storage/files/
